body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0px;
    padding:0px;
}

main{
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
a{
    text-decoration: none;
    color: inherit;
}
nav{
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    padding-bottom: 5vw;
    padding-top: 5vw;
}
nav >img:first-of-type{
    position: relative;
    top: 50%;
    width: 35%;
    height: 35%;
    padding-left:5%;
    justify-content: flex-start;
}
.fas.fa-bars{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    margin-right: 8vw;
    margin-top: 3vw;
    color: white;
}

.sidenav {
    background-color: rgb(255, 255, 255);
    animation: fadeInAnimation ease 0.7s;
    position: fixed; 
    display: none;
    z-index: 1;
    border-radius: 0%;  
    height: 150vh;  
    width: 70%;
    display:none
}
  
.sidenav  img:first-of-type{
    display: flex;
    margin-left: 15vw;
    width: 43vw;
    height: 40vw;
}
.sidenav .fa-times{
    color: #000000;
    font-size: 4vh;
    display: flex;
    align-self: flex-end;
    margin-top: 1vw;
    margin-left: 60vw;  
}
.sidenav ul {
    margin-top: 7vw;
    list-style-type: none;
    padding: 0vw 0vw 9vw 9vw; 
    text-decoration: none;
    font-size: 8vw;
    color: #000000;
    transition: 0.4s;
    border-top: 5px solid #d3cece;
    font-weight: 400;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  }
.sidenav ul li {
    margin-top: 5vw;
    font-family: 'Cairo', sans-serif;
}

header{
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: #ff8d00;
    display: flex;
    flex-direction: column;
}
header > img:first-of-type{
    display: flex;
    align-self: center;
    height: 100%;
    width: 100%;
}
header div:first-of-type{
    display: flex;
    flex-direction: column;
    align-self: center;
    position: absolute;
    margin-top: 6vh;
    margin-bottom: 5vh;
    width: 80vw;
    background-color: rgba(255,255,255,0.5);
}

header div:first-of-type i{
    display: flex;
    align-self: flex-end;
    width: fit-content;
    font-size: 6vw;
}
header div:first-of-type h2{
    display: flex;
    align-self: center;
    text-align: center;
    margin-bottom: 2vh;
    width: 60vw;
    font-size: 8vw;
    font-family: 'Roboto', sans-serif;  
    background-color: rgba(255, 255, 255, 0.671);
}
header div:first-of-type p:first-of-type{
    display: flex;
    align-self: center;
    font-size: 8vw;
    font-family: 'Roboto', sans-serif;  
}
header div:first-of-type input{
    display: inline;
    position: relative;
    align-self: center;
    margin-top: 1.5vh;
    height: 4vh;
    width: 45vw;
    font-size: 4.5vw;
    border-radius: 2vw;
}
header div:first-of-type button{
  display: flex;
  text-align: center;
  align-self: center;
  margin-top: 1.5vh;
  margin-bottom: 5vh;
  padding-top: 0.3vh;
  padding-left: 5.5vw;
  width: 30vw;
  height: 8vw;
  font-size: 5vw;
  border-radius: 4vw;
  position: relative;
}

header h1{
    font-family: 'Just Another Hand', cursive;
    font-size: 18vw;
    margin-bottom: -3vh;
}
header h2{
    display: flex;
    align-self: center;
    font-size: 8vw;
    font-family: 'Roboto', sans-serif;  
}
header p:last-child{
    display: flex;
    align-self: center;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 5vw;
    margin-top: 5vw;
    width: 80%;
    font-size: 8vw;
    font-family: 'Roboto', sans-serif;  
}

h1{
    font-size: 8vw;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: 10vw;
    font-family: 'Rubik', sans-serif;
}
li{
    position: relative;
    padding-right: 0%;
    margin-top: 3vw;
}
main h2{
    display: flex;
    align-self: center;
    text-align: center;
    margin-top: -10vw;
    margin-bottom: 2vh;
    font-size: 3vh;
}
main button:first-of-type{
    display: flex;
    margin-left: 25%;
    text-align: center;
    width: 50vw;
    height: 15vw;
    color: rgb(241, 132, 43);
    background-color: rgb(5, 5, 5);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: bold;
    font-size: 6vw;
    border-radius: 4vw;
    position: relative;
    border: 1px solid;
    padding: 1vh 0vw 0vw 10vw;
    box-shadow: 5px 10px 8px #888888;
    margin-bottom: 10vw;
}

main h3 {
    font-size: 4vh;
    margin-top: 2vh;
    width: 80vw;
    display: flex;
    align-self: center;
    text-align: center;
}
main div:first-of-type{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;   
    background-color: #d3cece;  
}
main div:first-of-type img{
    width: 80%;
}
main div:first-of-type h3:first-of-type{
    width: 90%;
    margin-bottom: 1vh;
    margin-top: 5vh;
}
main div h3:nth-of-type(2){
    
    text-align: center;
}
main div p{
    width: 80%;
    margin-top: 3vh;
    text-align: center;
    font-size: 6vw;
    margin-bottom: 3vh;
}
main div:first-of-type img:nth-of-type(2){
    margin-top: 2vh;
    width: 80%;
}

main div:nth-of-type(2){
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ff8d00;
}
main div:nth-of-type(2) h3{
    font-family: 'Just Another Hand', cursive;
    font-size: 17vw;
    margin-top: 5vh;
    justify-content: center;
    text-align: center;
    width: 70%;
}
main div:nth-of-type(2) p{
    display: flex;
    align-self: center;
    text-align: center;
    padding-top: 0;
    width: 80%;
    font-size: 8vw;
    font-family: 'Roboto', sans-serif;  
}

main div:nth-of-type(2) div{
    display: flex;
    padding-top: 0vh;
    margin-top: 0vh;
    background-color: #ff8d00;
}

*{box-sizing:border-box}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 0vh;
    padding-top: 0vh;
}
.mySlides {
    display: none;
    top: 10vh;
}
.mySlides img{

    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 3%;
    margin-bottom: -3vh;
}
.prev{
    position: relative;
    top: 38vh;
    width: auto;
    right: 45%;
    color: white;
    font-weight: bold;
    font-size: 58px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1;
    margin-top: -15vh;
}

.next {
    position: relative;
    top: 29vh;
    width: auto;
    left: 45%;
    border-radius: 3px 0 0 3px;
    color: white;
    font-weight: bold;
    font-size: 58px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1;
}

.text {
    color: #000000;
    font-size: 7vw;
    padding: 8px 12px;
    position: relative;
    top: 6vh;
    width: 60%;
    text-align: center;
    background-color: #f0cb9e;
    font-weight: 400;
    margin-bottom: 13vh;
}
h4{
    font-size: 8vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#spots{
    padding-top: 3vh;
    padding-left: 7vw;
    padding-bottom: 5vh;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  height: 100%;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


footer{
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: #464444;
}
footer input{
    margin-left: 10vw;
    margin-right: auto;
    margin-top: 2vh;
    background-color: #d3cece;
    width:60vw;
    height: 4vh;
    font-size: 4.5vw;
}
footer button{
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    height: 4vh;
    font-size: 4vw;
}
footer p{
    color: white;
    font-size: 6vw;
    font-weight: 600;
    margin-bottom: 1vh;
    align-self: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer h1{
    color: white;
    font-weight: 100;
    font-size: 12vw;
    font-family: 'Just Another Hand', cursive;
    margin-top: 0%;
    margin-bottom: 2vh;
}
footer img:first-of-type{
    width: auto;
    height: auto;
    max-width: 60vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 5vh;
}
footer h3{
    display: inline;
    color: white;
    margin-left: 15vw;
    margin-right: 5VW;
    position: relative;
    bottom:1.5vh;
    vertical-align: middle;
    font-size: 5vw;
    padding-top: 3vh;
}
footer h2{
    color: white;
    margin-left: 17vw;
    font-size:5vw;
}
.fab.fa-youtube{
    display: inline;
    font-size: 12vw;
    color: white;
    margin-left: 2vw;

}
.fab.fa-instagram{
    display: inline;
    font-size: 12vw;
    color: white;
    margin-left: 5vw;
}

.fa-solid.fa-circle-arrow-up{
    color: rgb(158, 104, 4);
    position: fixed;
    display: block;
    z-index: 1;
}
.arrowbutton{
    background-color: rgb(151, 151, 151);
    z-index: 999;
    position:fixed;
    height: 6vh;
    width: 12vw;
    bottom:1vh;
    left: 87vw;
    font-size: 10vw;
    border-radius: 50%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

